body {
  background-color: #d9ed92;
  font-family: "Comfortaa", sans-serif;
}
a {
  color: #184e77;
}
.app-box {
  background-color: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 50px;
  box-shadow: 0 30px 30px rgba(173, 186, 218, 0.1);
  border-radius: 20px;
}

header {
  border-bottom: 1px solid #184e77;
  padding: 30px 0 30px 0;
}
.search-form-imput {
  background-color: white;
  border-color: #34a0a4;
  border-radius: 10px;
  width: 60%;
  padding: 15px 15px;
  font-size: 15px;
  font-family: "Comfortaa", sans-serif;
  color: #1e6091;
}
.search-form-imput:hover {
  cursor: text;
  background-color: #d9ed92;
  border-color: #52b69a;
  border: 20px;
}
.search-form-button {
  background-color: #52b69a;
  border-color: #52b69a;
  border-radius: 20px;
  width: 20%;
  padding: 15px 15px;
  font-size: 15px;
  font-family: "Comfortaa", sans-serif;
  color: white;
  margin-left: 5px;
}
.search-form-button:hover {
  background-color: #99d98c;
  border-color: #52b69a;
}
main {
  padding: 20px 0;
}
.weather-app-city {
  margin: 20px 0 10px;
  font-size: 38px;
  font-weight: 700;
  color: #184e77;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-conditions {
  font-size: 16px;
  font-weight: 600;
}
.weather-app-emoji {
  font-size: 50px;
  line-height: 20px;
}
.weather-app-temp {
  font-size: 50px;
  line-height: 20px;
}
.weather-app-unit {
  font-size: 50px;
  line-height: 20px;
}
.weather-app-container {
  display: flex;
}

footer {
  border-top: 1px solid #184e77;
  padding: 30px 0;
  text-align: center;

  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
